<p id="notice"><%= notice %></p>
<% if current_user%>
  <%= link_to toggle_xhr(@recipe), toggle_recipe_favorite_index_path(@recipe), method: 'post', remote: true, id: 'favorite_link' %>
<% end %>
<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>Time:</strong>
  <%= @recipe.time %>
</p>
<p>
  <strong>Ingredients:</strong>
    <%= raw ingredients_format %>
</p>

<p>
  <strong>Description:</strong>
  <%= @recipe.description %>
</p>

<p>
  <%= image_tag  @recipe.image_url %>
</p>
