<% if @recipes.empty? %>
  <% if controller_name == 'favorite' %>
    <h3>Sorry you don't currently have any favorited recipes</h3>
  <% else %>
    <h3>Sorry we currently have no recipes for you</h3>
  <% end %>

<% else %>
<table border="1" class ="recipe-index">
  <thead>
    <tr>
      <th>Name</th>
      <th>Ingredients</th>
      <th>Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr class='recipe'>
        <td><%= recipe.name %></td>
        <td><%= recipe.ingredients %></td>
        <td><%= recipe.time %></td>
        <td><%= link_to 'Show', recipe %></td>
        <% if current_user && current_user.admin? %>
          <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
          <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% end  %>
